html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}

*, ::after, ::after {
  box-sizing: border-box;
}

* {
  letter-spacing: 0.00875em;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  font-family: "gordita", sans-serif;
}

body {
  font-family: inherit;
  line-height: 1.5;
}

h2 {
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
  background-color: antiquewhite;
  padding: 1rem 2rem;
}

.container {
  width: 800px;
}
.container > div {
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  font-size: 1.5rem;
  margin: 0 auto;
}
form lable {
  margin-right: 0.5rem;
}
form input, form select, form button, form textarea {
  height: 2rem;
  margin: 0.5rem 0;
  font-size: 1rem;
  outline: none;
}

table {
  border: 1px solid gray;
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
}
table th {
  font-weight: 600;
}
table th, table td {
  padding: 0.5rem;
  border: 1px solid gray;
}

.income {
  background-color: #def0de;
  color: #068e06;
  padding: 0 1rem;
}
.income input, .income input[type=date], .income select, .income textarea {
  background-color: #def0de;
  border: 1px solid #068e06;
}
.income .active {
  background-color: #068e06;
  color: white;
}

.expense {
  background-color: #f6cfcf;
  color: red;
  padding: 0 1rem;
}
.expense input, .expense input[type=date], .expense select, .expense textarea {
  background-color: #f6cfcf;
  border: 1px solid red;
}
.expense .active {
  background-color: red;
  color: white;
}

.Trans_group {
  font-weight: 600;
}
.Trans_group .income, .Trans_group .expense, .Trans_group .net-income {
  font-size: 1.2rem;
}
.Trans_group .date {
  font-size: 1.3rem;
  background-color: beige;
}

.meter {
  display: flex;
}
.meter .income, .meter .expense, .meter .net-income {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.3rem;
  border: 3px solid;
  border-radius: 8px;
  margin: 0.5rem;
  font-weight: 600;
}
.meter .income::before {
  content: "INCOME";
  font-size: 1rem;
}
.meter .expense::before {
  content: "EXPENSE";
  font-size: 1rem;
}
.meter .net-income::before {
  content: "NET BALANCE";
  font-size: 1rem;
}
.meter h1 {
  font-size: 2rem;
  font-weight: 600;
}

.main {
  display: flex;
  width: 1400px;
  margin: 0 auto;
}

.sidebar {
  width: 300px;
  background-color: #f3f3f3;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar li {
  padding: 0.5rem;
  font-size: 1.23rem;
}
.sidebar li:hover {
  color: #645e5e;
}
.sidebar li:first-child {
  border-top: 1px solid #f3f3f3;
  background-color: #314bc9;
  color: white;
}

.searchFilter {
  display: flex;
}
.searchFilter input {
  width: 100%;
  padding: 1rem 0.5rem;
  background-color: #def0de;
  border: 1px solid #7c8e7c;
}
.searchFilter button {
  background-color: #068e06;
  color: white;
  padding: 0.5rem 1rem;
}
.searchFilter button:active {
  background-color: #645e5e;
}

.top-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #def0de;
  gap: 1rem;
  color: #068e06;
  padding: 1rem;
  font-weight: 600;
}
.top-filter button {
  background-color: #f6cfcf;
  border: 0;
  border-radius: 5px;
  padding: 0.4rem 0.8rem;
  font-weight: 800;
  cursor: pointer;
}
.top-filter button:hover {
  background-color: darkgray;
}
.top-filter button:active {
  background-color: #645e5e;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #034e74;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 9999;
}

/*# sourceMappingURL=style.css.map */
